In [1]:
import warnings
warnings.filterwarnings('ignore')
import os
import sys
import json
from datetime import datetime
from os import system, name
from time import sleep
import copy
import threading
import imp
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd
import pandasql as psql
from  libraries.utility import Utility

from libraries.data_objects import data_objects
#https://www.kaggle.com/datasets/camnugent/california-housing-feature-engineering?resource=download
#The goal of this is to 
#consume the ML model based on this example
#https://inria.github.io/scikit-learn-mooc/python_scripts/datasets_california_housing.html

In [2]:
mdo = data_objects()

In [3]:
df=mdo.ca_city_lat_long_df()

In [4]:
df.head()

           city   Latitude   Longitude
0      Adelanto  34.582769 -117.409214
1  Agoura Hills  34.153339 -118.761675
2       Alameda  37.765206 -122.241636
3        Albany  37.886869 -122.297747
4      Alhambra  34.095286 -118.127014

In [5]:
sql = '''
select city, Latitude ||','|| Longitude as lat_long from df
'''
psql.sqldf(sql).head(5)

           city               lat_long
0      Adelanto  34.582769,-117.409214
1  Agoura Hills  34.153339,-118.761675
2       Alameda  37.765206,-122.241636
3        Albany  37.886869,-122.297747
4      Alhambra  34.095286,-118.127014

In [6]:
df=pd.DataFrame(mdo.ca_pop_df())

In [7]:
city='Alhambra'
my_sql='''
select
pop_april_2010 as population
from df
where ltrim(rtrim(lower(City))) = \'''' + city.strip().lower() + '''\'
'''
psql.sqldf(my_sql)

   population
0       83089

In [8]:
city='Alhambra'
mdo.ca_pop_by_city(city=city)

   population
0       83089

In [9]:
mdo.bg_pop_tuple()

((600, 600),
 (1200, 1200),
 (1800, 1800),
 (2400, 2400),
 (3000, 3000),
 (3600, 3600),
 (4800, 4800),
 (5400, 5400),
 (6000, 6000))

In [10]:
mdo.hh_income_tuple()

((2, 2),
 (4, 4),
 (6, 6),
 (8, 8),
 (10, 10),
 (12, 12),
 (14, 14),
 (16, 16),
 (18, 18),
 (20, 20),
 (22, 22),
 (24, 24),
 (26, 26),
 (28, 28),
 (30, 30),
 (32, 32),
 (34, 34),
 (36, 36),
 (38, 38),
 (40, 40),
 (42, 42),
 (44, 44),
 (46, 46),
 (48, 48),
 (50, 50),
 (60, 60),
 (70, 70),
 (80, 80),
 (90, 90),
 (100, 100),
 (120, 120),
 (140, 140),
 (160, 160),
 (180, 180),
 (200, 200),
 (240, 240),
 (280, 280),
 (320, 320),
 (350, 350),
 (400, 400),
 (450, 450),
 (500, 500))

In [11]:
mdo.h_age_tuple()

((2, 2),
 (4, 4),
 (6, 6),
 (8, 8),
 (10, 10),
 (12, 12),
 (14, 14),
 (16, 16),
 (18, 18),
 (20, 20),
 (22, 22),
 (24, 24),
 (26, 26),
 (28, 28),
 (30, 30),
 (32, 32),
 (34, 34),
 (36, 36),
 (38, 38),
 (40, 40),
 (42, 42),
 (44, 44),
 (46, 46),
 (48, 48),
 (50, 50),
 (60, 60),
 (70, 70),
 (80, 80),
 (90, 90),
 (100, 100),
 (110, 110),
 (120, 120),
 (130, 130),
 (140, 140),
 (150, 150))

In [12]:
mdo.avg_beds_tuple()

((1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19),
 (20, 20),
 (21, 21))

In [13]:
mdo.avg_baths_tuple()

((1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19),
 (20, 20),
 (21, 21))

In [14]:
mdo.avg_occupacy()

((1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19),
 (20, 20),
 (21, 21))